<div>
  <h1>{{person.name}}</h1>
  <div>Age: {{person.age}}</div>
  <div>Gender: {{person.gender}}</div>

  <h2>Address</h2>
  <div>Street: {{person.address.street}}</div>
  <div>City: {{person.address.city}}</div>
  <div>State: {{person.address.state}}</div>
  <div>ZIP: {{person.address.zip}}</div>
  <div>Country: {{person.address.country}}</div>

  <h2>Education</h2>
  <ul>
    {{#each person.education}}
      <li>
        <div>Degree: {{degree}}</div>
        <div>Major: {{major}}</div>
        <div>University: {{university}}</div>
        <div>Graduation Year: {{graduationYear}}</div>
      </li>
    {{/each}}
  </ul>

  <h2>Work Experience</h2>
  <ul>
    {{#each person.workExperience}}
      <li>
        <h3>{{company}}</h3>
        <div>Title: {{title}}</div>
        <div>Start Date: {{startDate}}</div>
        <div>End Date: {{endDate}}</div>

        <h4>Responsibilities</h4>
        <ul>
          {{#each responsibilities}}
            <li>{{this}}</li>
          {{/each}}
        </ul>

        <div>Year Founded: {{year_founded}}</div>
        <div>Industry: {{industry}}</div>

        <h4>Employees</h4>
        <ul>
          {{#each employees}}
            <li>
              <div>Name: {{name}}</div>
              <div>Position: {{position}}</div>
              <div>Department: {{department}}</div>

              <h4>Projects</h4>
              <ul>
                {{#each projects}}
                  <li>
                    <div>Name: {{name}}</div>
                    <div>Description: {{description}}</div>
                    <div>Status: {{status}}</div>

                    <h4>Teams</h4>
                    <ul>
                      {{#each teams}}
                        <li>
                          <div>Team Name:
                            {{team_name}}</div>

                          <h4>Team Leader</h4>
                          <div>Name:
                            {{team_leader.name}}</div>
                          <div>Title:
                            {{team_leader.title}}</div>
                          <div>Email:
                            {{team_leader.email}}</div>

                          <h4>Team Members</h4>
                          <ul>
                            {{#each team_members}}
                              <li>
                                <div>Name: {{name}}</div>
                                <div>Title: {{title}}</div>
                                <div>Email: {{email}}</div>

                                <h4>Skills</h4>
                                <ul>
                                  {{#each skills}}
                                    <li>{{this}}</li>
                                  {{/each}}
                                </ul>

                                <h4>Projects</h4>
                                <ul>
                                  {{#each projects}}
                                    <li>
                                      <div>Name:
                                        {{name}}</div>
                                      <div>Description:
                                        {{description}}</div>

                                      <h4>Technologies</h4>
                                      <ul>
                                        {{#each
                                          technologies
                                        }}
                                          <li>{{this}}</li>
                                        {{/each}}
                                      </ul>

                                      <h4>Team Members</h4>
                                      <ul>
                                        {{#each
                                          team_members
                                        }}
                                          <li>
                                            <div>Name:
                                              {{name}}</div>
                                            <div>Title:
                                              {{title}}</div>
                                          </li>
                                        {{/each}}
                                      </ul>
                                    </li>
                                  {{/each}}
                                </ul>
                              </li>
                            {{/each}}
                          </ul>
                        </li>
                      {{/each}}
                    </ul>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>

</div>