<div class='container'>
  <header>
    <h1 class='text-center'>{{page_header.title}}</h1>
    <p class='text-center'>{{page_header.description}}</p>
  </header>

  <section>
    <div class='card'>
      <div class='card-body'>
        <div
          class='display-6 text-end'
        >{{section.about_us.title_list.main}}</div>
        <p
          class='text-end'
        >{{section.about_us.title_list.sub}}</p>
        <button
          class='btn btn-outline-info'
        >{{section.about_us.button.text}}</button>
      </div>
    </div>
  </section>

  <section>
    <div class="card">
        <div class="card-body">
      <div
        class='display-5 text-muted'
      >{{section.advantage.title}}</div>
      <br>
      <div>
        <div class='card'>
          <div class='card-body'>
            <div class="display-4 text-muted">{{section.advantage.efficiency.title}}</div>
            <br>
            <h6
            >{{section.advantage.efficiency.sub_title}}</h6>
            <br>
            <p
            >{{section.advantage.efficiency.description}}</p>
            <button
              class='btn btn-outline-warning'
            >{{section.advantage.efficiency.button}}</button>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div class='card'>
          <div class='card-body'>
            <div class='display-4 text-muted text-center'>{{section.advantage.innovation.title}}</div>
            <br>
            <h6
            >{{section.advantage.innovation.sub_title}}</h6>
            <br>
            <p
            >{{section.advantage.innovation.description}}</p>
            <button
              class='btn btn-outline-warning'
            >{{section.advantage.innovation.button}}</button>
          </div>
        </div>
      </div>
      <br>
      <div>
        <div class='card'>
          <div class='card-body'>
            <div class='display-4 text-end text-muted'
            >{{section.advantage.collaboration.title}}</div>
            <br>
            <h6
            >{{section.advantage.collaboration.sub_title}}</h6>
            <br>
            <p
            >{{section.advantage.collaboration.description}}</p>
            <button
              class='btn btn-outline-warning'
            >{{section.advantage.collaboration.button}}</button>
          </div>
        </div>
      </div>
      <br>
    </div>
    </div>
    </div>
  </section>

  <section>
    <div class="card">
    <div class="card-body">
    <div class="display-5">{{section.agreement.title}}</div>
    <br>
    <div class="card">
    <div class="card-body">
    <h5>{{section.agreement.info.sub_title}}</h5>
    <br>
    <div class='card'>
      <div class='card-body'>
        <p>{{section.agreement.info.detail.text}}</p>
        <button
          class='btn btn-success'
        >{{section.agreement.info.detail.button}}</button>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  </section>
</div>